.list-style-none li {
  list-style: none;
  /* outline: 1px solid black; */
}
.list-style-none {
  margin-top: 40px;
  padding-left: 20px;
}
.content-nav li a {
  font-family: 'MonumentExtended-Regular', sans-serif!important;
  color: white;
  text-decoration: none;
  display: block;
  padding-top: 12px;
  padding-bottom: 12px;
}
.content-nav li a:hover {
  color: #262626;
}
.size-list-menu {
  font-size: 2.3rem;
}
.content-nav {
  position: fixed;
  z-index: 99;
  left: -100%;
  width: 100%;
  height: 100vh;
  padding-top: 36px;
  min-height: 700px;
  transition: 1s all;
  opacity: 0;
}
.nav-show {
  left: 0;
  transition: .8s all;
  opacity: 1;
}
.delete {
  padding: 10px;
}

.border-bottom-gray {
  border-bottom: 2px solid #FCC1C1;
}

/* Color of the arrows */
.slick-next::before, .slick-prev::before {
  color: black;
}

.slick-carousel {
  margin: 0 auto;
  width: 90%;
  margin-top: 25px;   ;
}

/* The width of each slide */
.slick-slide {
  /* width: 350px; */
  height: auto;
}
.slick-slide img {
  display: inline-block;
}
.space-section {
  padding-bottom: 20px;
}
.height-25 {
  height: 25px;
}
.slick-active:focus {
  outline: none;
}
.height-100 {
  height: 100px;
}
.height-50 {
  height: 50px;
}
.btn-cotizar-rojo {
  color: red;
}
.btn-cotizar-rojo:hover, .btn-como-rojo:hover, .btn-contactanos-rojo:hover {
  text-decoration: none;
  color: red!important;
  background: none;
  border: 1px solid red;
}

@media (min-width:768px){
  .content-nav ul {
    width: 600px;
  }
  .center-md {
    text-align: center;
  }
  .list-style-none {
    display: inline-block;
    margin-top: 150px;
  }
  .size-list-menu {
    font-size: 4rem;
  }
  .content-nav li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .content-icons {
    width: 800px;
    text-align: right;
    display: inline-block;
  }
  .space-section {
    padding-bottom: 80px;
  }
  .size-md-4 {
    font-size: 4rem !important;
  }
}
.content-time {
  display: none;
}
@media (min-width:1024px){
  .content-time {
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* width: 80vw; */
    height: 182px;
    padding: 0 30px;
    /* max-width: 1000px; */
    margin-top: 50px;
    position: relative;
    z-index: 0;
  }
  
  
  .item-line {
    width: 12px;
    height: 12px;
    background-color: white;
    position: relative;
    border-radius: 50%;
  }
  
  .item-line::before {
    left: calc(-4vw + 14.5px);
  }
  
  .item-line::after {
    right: calc(-4vw + 14.5px);
  }
  
  .item-line::before, .item-line::after {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY(-50%);
    background-color: white;
    width: 13vw;
    height: 1.5px;
    max-width: 200px;
  }
  .item-line-1::after,.item-line-4::before {
    width: 8vw;
  }
  /* 
  .item-line::before {
    max-width: 200px !important;
    width: 11vw;
  } */
  
  .item-line span {
    width: 1px;
    height: 1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;
  }
  
  .item-text {
    visibility: visible !important;
    position: absolute !important;
    width: 226px !important;
    height: 108px !important;
    top: 72px !important;
    padding-left: 26px;
    font-family: 'MonumentExtended-Regular', sans-serif!important;
    /* bottom: -115px; */
  
  
  }
  .item-text i {
    visibility: visible !important;
    font-size: 3rem;
    font-style: initial;
    color: white;
  }
  .mt-50 {
    margin-top: 50px;
  }
  .size-small-i {
    display: flex;
    place-items: flex-start;
  }
  .size-small-i , .size-small-i i {
    /* margin-top: 50px; */
    font-size: 1.5rem !important;
    font-family: 'Questrial-Regular', sans-serif!important;
  }
  .img-width-flech {
    width: 17px;
    height: 17px !important;
  }
  
}