@charset "utf-8";
/* CSS Document */

/*////////////////FUENTES///////////*/
@font-face {
	font-family: 'MonumentExtended-Regular';
	src: url('../fonts/MonumentExtended-Regular/MonumentExtended-Regular.eot');
	src: url('../fonts/MonumentExtended-Regular/MonumentExtended-Regular.woff') format('woff'), 
		 url('../fonts/MonumentExtended-Regular/MavenPro-Regular.ttf') format('truetype'), 
		 url('../fonts/MonumentExtended-Regular/MonumentExtended-Regular.svg') format('svg'),
		 url('../fonts/MonumentExtended-Regular/MonumentExtended-Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Questrial-Regular';
	src: url('../fonts/Questrial-Regular/Questrial-Regular.eot');
	src: url('../fonts/Questrial-Regular/Questrial-Regular.woff') format('woff'),
	     url('../fonts/Questrial-Regular/Questrial-Regular.ttf') format('truetype'), 
		 url('../fonts/Questrial-Regular/Questrial-Regular.svg') format('svg'),
		 url('../fonts/Questrial-Regular/Questrial-Regular.otf') format('otf');

	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SchnyderWideMBold';
	src: url('../fonts/SchnyderWideMBold/SchnyderWideMBold.eot');
	src: url('../fonts/SchnyderWideMBold/SchnyderWideMBold.woff') format('woff'), 
		 url('../fonts/SchnyderWideMBold/SchnyderWideMBold.ttf') format('truetype'), 
		 url('../fonts/SchnyderWideMBold/SchnyderWideMBold.svg') format('svg'),
		 url('../fonts/SchnyderWideMBold/SchnyderWideMBold.otf') format('otf');
	font-weight: normal;
	font-style: normal;
}
#home-landing{
	margin:0 auto; 
	width:100%; 
	overflow: hidden;
}
#zona-1{
	margin-top:160px;
	padding-right: 50px;
	padding-left: 0; 
	overflow: hidden;
}
#zona-2, #zona-3, #zona-5, #zona-7{
	padding-top:80px!important;
	padding-bottom: 40px; 
	overflow: hidden;
}
#zona-4{
	background-color: #f00;
	padding-bottom: 40px;
	padding-top: 40px;
}
#zona-6, #zona-7{
	margin-bottom:80px;
}
#zona-8, #zona-9{
	padding-bottom: 40px; 
	overflow: hidden;
}
#logos-socios{
	margin-top:80px; 
	margin-bottom:80px; 
	height: 50px!important;
}
.h2{margin-top:120px;
}
p{
	font-family:'Questrial-Regular', sans-serif!important; 
	font-size:1em!important;
	text-align:justify;
}
.font-schnyder{font-family:'SchnyderWideMBold', sans-serif!important; }
.expansible, .foto-equipo {
	width: 100%; 
	height: auto;
}
#home{
	height:768px; 
	background:url('../img/cabecera.jpg') bottom; 
	background-size: cover; 
	padding-left: 0; 
}
#home-landing{
	height:768px; 
	background:url('../img/cabecera-landing.jpg') bottom; 
	background-size: cover; 
	padding-left: 0; 
}
.top{height:100px;
}

#menu{
	float:right;
}
#banner a:link{
	display:block; 
	padding:20px;
}
#banner h6{
	display:block; 
	float:left; padding:0 10px; 
	margin:0; 
	font-family:'MonumentExtended-Regular', sans-serif!important; 
}
.redes span, #zona-7 span{
	display:none;
}
h1{
	margin-bottom: 60px; 
	font-family:'MonumentExtended-Regular', sans-serif!important; 
	font-size:3em;
}
h2{
	font-family:'MonumentExtended-Regular', sans-serif!important; 
	font-size:2.8rem !important;
}
h4{
	font-family:'Questrial-Regular', sans-serif!important; 
	font-size:1.5em!important;
}
h3{
	font-family:'MonumentExtended-Regular', sans-serif!important;
}
h5{
	font-family:'Questrial-Regular', sans-serif!important;
}
.texto-enorme{
	font-size: 3.5em!important;
}
.texto-blanco{
	color: #fff!important;
}
.pl-50{
	padding-left: 50px;
}
.pl-15{
	padding-left: 15px;
}
.mr-32{
	margin-right: 32px!important;
}
.mb-0{
	margin-bottom: 0!important;
}
.mb-40{
	margin-bottom: 40px!important;
}
.mt-40{
	margin-top: 40px!important;
}
.mt-120{
	margin-top: 120px!important;
}
.pt-10{
	padding-top: 10px!important;
}
.pt-20{
	padding-top: 20px!important;
}
.pr-0{
	padding-right: 0!important
}
.p-0 {
	padding: 0;
}
.pr-50{
	margin-right: 50px!important
}
.btn-cotizar-rojo, .btn-como-rojo, .btn-contactanos-rojo{
	display:block; 
	border:1px solid #f00; 
	height:20px; 
	width:150px; 
	background: #f00;
	color:#fff!important;
	padding: 10px 10px 30px 10px!important; 
	margin:40px 50px;
}
.btn-contactanos-rojo{
	margin:40px auto!important;
}
.btn-pie{
	margin:40px 0; 
	float:right;
}
.flecha{
	padding-left: 50px; 
	margin:30px 0;
}
#img-zona-2{
	padding-right: 0!important;
}
.rtbs{
	width:150px; 
	margin:50px auto;
}
#logos-socios{
	height:auto!important;
}
#home-panoramica-1, #home-panoramica-2, #home-panoramica-3, #home-panoramica-4, #home-panoramica-5{
	height:auto;
}
#home-panoramica-3, #home-panoramica-4{
	margin-top:80px;
}
.titu-blanco{
	color: #fff!important; 
	font-size: 2.8em!important;
}
.titu-blanco-landing{
	color: #fff!important; 
	font-size: 1.8em!important;
	width: 80%!important;
	margin:0 auto!important;
}
.linea{
	border-top: 2px solid #333;
	width:100%; 
}
.linea-bottom1, .linea-bottom2{
	border-bottom: 2px solid #333;
	width:100%; 
}
.linea-blanca{
	border-top: 2px solid #fff;
}
.mostrar{
	display:none;
}
.overflow{
	overflow: hidden;
}
.texto-vertical {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    text-align: center;
}
#servicios a:link, .monuntEx{
	color:#000!important;
	font-family:'MonumentExtended-Regular', sans-serif!important;
}
.monuntEx-white {
	color:white!important;
	font-family:'MonumentExtended-Regular', sans-serif!important;
}
.texto-rojo{
	color:red!important;
	font-family:'MonumentExtended-Regular', sans-serif!important;
}
.flecha-derecha{
	background:url('../img/flecha-derecha.png') right center no-repeat; 
}

/* Small devices (tablets, 768px and up) */
@media (max-width: 768px) {
	.pl-50 {
    	padding-left: 32px;
	}
	#zona-1{
		margin-top:80px;
	}
	#zona-2, #zona-6{
		padding-right: 0!important; 
		padding-left: 50px!important; 
	}
	#zona-3{
		padding-top:0!important;
	}
	.row{
		margin-right:0!important;
	}
	#img-zona-2{
		padding-right:0!important;
	}
	.redes, .ocultar{
		display: none;}
	.mostrar{display:block;
	}
	#home-panoramica-1, #home-panoramica-2, #home-panoramica-3, #home-panoramica-4, #home-panoramica-5{
		padding-right: 0;
	}
	.btn-pie{
		float:left!important; 
		margin-left:30px!important;
	}
	.mt-120{
		margin-top: 40px!important;
	}
	.linea-bottom1{
		border-bottom:0!important;
	}
	#zona-8 img{
		width:100%;
		height:auto;
	}
}
input, textarea{
	width:100%; 
	border:1px 
	solid #8f8f8f; 
	margin-bottom:10px; 
	padding:10px;
}
#enviar{
	background:#00d1be url(../img/solaris-btn.png); 
	width:265px; 
	height:45px; 
	border:0; 
	cursor:pointer; 
	background-color:transparent;
}
#enviar:hover{
	background:url(../img/solaris-btn-on.png);
}

/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) { 
	.h2{
		margin-top:20px;
	}
	.btn-cotizar-rojo{
		float:right; margin-right:0!important;
	}
	.btn-como-rojo{
		float:left; margin-left:0!important;
	}
	.titu-landing{
		font-size: 2em!important;
	}
	.formulario{
		margin-left: 15px;
	}
	#zona-8 img{
		width:100%;
		height:auto;
	}
}

@media (min-width:768px){
	#home-landing {
		padding-right: 50px
	}
}

/* Medium devices (desktops, 1200px and up) */
@media (min-width: 1200px) { 
	#pan-1, #pan-2, #pan-3, #pan-4, #pan-5{
		display: none;
	}
	#home-panoramica-1{
		height:526px; 
		background:url('../img/panoramica-1.jpg') bottom; 
		background-size: cover;
	}
	#home-panoramica-2{
		height:479px; 
		background:url('../img/panoramica-2.jpg') bottom; 
		background-size: cover;
	}
	#home-panoramica-3{
		height:479px; 
		background:url('../img/panoramica-3.jpg') bottom; 
		background-size: cover;
	}
	#home-panoramica-4{
		height:479px; 
		background:url('../img/panoramica-4.jpg') bottom; 
		background-size: cover;
	}
	#home-panoramica-5{
		height:479px; 
		background:url('../img/panoramica-5.jpg') bottom; 
		background-size: cover;
	}
}


